.tableRekapAbsensi thead tr th,
.tableRekapAbsensi tbody tr #no_index {
   text-align: center;
   vertical-align: middle;
}

.tableRekapAbsensi {
  position: relative;
  border-collapse: collapse;
  width: 100%;
}

.tableRekapAbsensi thead {
  position: sticky;
  top: 0px;
  z-index: 3;
}

.tableRekapAbsensi tbody td:first-child {
  position: sticky;
  left: 0;
  background-color: #ffff;
  z-index: 3;
}

.tableRekapAbsensi tbody td:nth-child(2) {
  position: sticky;
  left: 40.07px;
  background-color: #ffff;
  z-index: 3;
}

.checkbox-hadir:disabled,
.checkbox-pulang:disabled {
  pointer-events: none;
  opacity: 1;
}

.checkbox-hadir:checked {
  background-color: #45CB85 !important;
  border-color: #45CB85 !important;
}

.checkbox-pulang:checked {
  background-color: #ffbe0b !important;
  border-color: #ffbe0b !important;
}
