<div class="modal zoomIn" id="formDataSiswa" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
   role="dialog" aria-labelledby="tambahSiswaLabel">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="">Form Tambah Siswa</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
         </div>
         <form action="" class="needs-validation" novalidate>
            <div class="modal-body">
               <div class="mb-3">
                  <h5 class="fs-15">Data Siswa</h5>
               </div>

               <div class="row">
                  <div class="col-md-6">
                     <div class="mb-3">
                        <label class="form-label" for="id_sidik_jari">ID Sidik Jari</label>
                        <input class="form-control" type="number" id="id_sidik_jari"
                           placeholder="Tentukan ID sidik jari." required>
                     </div>

                  </div>
                  <div class="col-md-6">
                     <div class="mb-3">
                        <label class="form-label" for="nisn">NISN</label>
                        <input class="form-control" type="text" id="nisn" placeholder="Masukan NISN siswa." required>
                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="col-md-6">
                     <div class="mb-3">
                        <label class="form-label" for="nama_lengkap">Nama Lengkap</label>
                        <input class="form-control" type="text" id="nama_lengkap"
                           placeholder="Masukan nama lengkap siswa." required>
                     </div>
                  </div>

                  <div class="col-md-6">
                     <div class="mb-3">
                        <label class="form-label" for="kelas">Kelas</label>
                        <input class="form-control" type="text" id="kelas" placeholder="Tentukan Kelas siswa." required>
                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="col-md-6">
                     <div class="mb-3">
                        <label class="form-label" for="nama_orangtua_wali">Nama Orang Tua/Wali</label>
                        <input class="form-control" type="text" id="nama_orangtua_wali"
                           placeholder="Masukan nama orang tua/wali." required>
                     </div>
                  </div>

                  <div class="col-md-6">
                     <div class="mb-3">
                        <label class="form-label" for="no_hp">No Headphone</label>
                        <input class="form-control" type="text" id="no_hp" placeholder="Masukan No. HP Orang Tua/Wali"
                           required>
                     </div>
                  </div>
               </div>

            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-light" data-bs-dismiss="modal">Tutup</button>
               <button type="submit" class="btn btn-success"><i class="mdi mdi-content-save-all-outline"></i> Simpan
                  Data</button>
            </div>
         </form>
      </div>
   </div>
</div>